body{

background:#000000 url(bg.jpg) top center no-repeat fixed;

color:#FFFFFF;

}

#content{

color:#efefef;

}

a{

color:#00aeff;

}

a:hover{

color:#FFFFFF;

}

#header a, #welcome a:hover{

color:#d2d2d2 !important;

}

#header a:hover, #welcome a{

color:#00aeff  !important;

}



#content h1, #content h2, #content h3, #content h4, #content h5, #content h6{

color:#CCCCCC  !important;

}



#content h1 a, #content h2 a, #content h3 a, #content h4 a, #content h5 a, #content h6 a{

color:#CCCCCC  !important;

}

#content h1 a:hover, #content h2 a:hover, #content h3 a:hover, #content h4 a:hover, #content h5 a:hover, #content h6 a:hover{

color:#FFFFFF  !important;

}

#toptwitter h2 a{

color:#d2d2d2 !important;

}

.toptwittermsg ul li a{

color:#FFFFFF !important;
font-weight:bold;

}

.toprsscolor{

color:#FFFFFF  !important;

}

.colororange{

color:#00aeff  !important;

}

#toptwitter h2 a:hover{

color:#00aeff  !important;

}

.curved{

padding:10px;

background:url(tbg.png);

border-color:#000;

}

.sticky {

	background:#000000 url(featured.png) right top no-repeat !important;

	color:#FFFFFF}

.postmetadata{

	background:#000000;

	padding:5px 10px 5px 10px;

	color:#00aeff;

}

ol.commentlist li{

	background:#000000;

	color:#FFFFFF;

}

ol.commentlist li.comment-author-admin{

	background:#1d1d1d;

	color:#FFFFFF;

}

#author{

background:#000000;

color:#FFFFFF;

}

#email{

background:#000000;

color:#FFFFFF;

}

#url{

background:#000000;

color:#FFFFFF;

}

#comment{

background:#000000;

color:#FFFFFF;

}

.widget ul li a,#wp-calendar a:hover{

color:#00aeff;

}

.widget ul li a:hover,#wp-calendar a{

color:#FFFFFF;

}

ol.commentlist li a{

color:#00aeff;

}

ol.commentlist li a:hover{

color:#FFFFFF;

}
#wp-calendar a{
	font-weight:bold;
	background:#000000;
	color:#FFF;
	padding:3px 5px 3px 5px;
}
#wp-calendar a:hover{
	font-weight:bold;
	background:#FFFFFF;
	color:#000000;
	padding:3px 5px 3px 5px;
}
td#prev a, td#next a{
	background:none !important;
	color:#FFF;
}
td#prev a:hover, td#next a:hover{
	background:none !important;
	color:#FFF;
}