<hgroup>
  <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
  {% endif %}
</hgroup>
<section id="social-buttons-search">
	<ul>
	  <li><a href="https://twitter.com/Agil_Sparkta"><img src="images/twitter.png"/></a></li>
	  <li><a href="http://www.facebook.com/AgilSparkta"><img src="images/facebook.png"/></a></li>
	  <!-- <li><a href=""><img src="images/gplus.png"/></a></li> -->
  	  <li><a href="{{ site.subscribe_rss }}" title="subscribe via RSS"><img src="images/rss-color.png"/></a></li>
	</ul>
</section>
<section id="search-form">
  {% if site.simple_search %}
<form action="{{ site.simple_search }}" method="get">
  <fieldset role="search">
    <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
    <input class="search" type="text" name="q" results="0" placeholder="Buscar"/>
  </fieldset>
</form>
  {% endif %}
</section>
