body{
background:#efefef url(bg.jpg) top center repeat-x;
color:#FFFFFF;
}
#content{
color:#2a2a2a;
}
a{
color:#39792e;
}
a:hover{
color:#ff7e00;
}
#header a, #welcome a:hover{
color:#FFFFFF !important;
}
#header a:hover, #welcome a{
color:#FF9600  !important;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6{
color:#000000  !important;
}

#content h1 a, #content h2 a, #content h3 a, #content h4 a, #content h5 a, #content h6 a{
color:#000000  !important;
}
#content h1 a:hover, #content h2 a:hover, #content h3 a:hover, #content h4 a:hover, #content h5 a:hover, #content h6 a:hover{
color:#828282  !important;
}
#toptwitter{
	color:#000000;
}
#toptwitter h2 a{
color:#000000 !important;
}
#toptwitter h2 a:hover{
color:#2a2a2a !important;
}
.toptwittermsg ul li a{
color:#FFFFFF !important;
font-weight:bold;
}
.toprsscolor{
color:#FFFFFF  !important;
}
.colororange{
color:#FF9600  !important;
}
.curved{
padding:10px;
background:#FFFFFF;
border-color:#000;
}
.sticky {
	background:#FFFFFF url(featured.png) right top no-repeat !important;
	color:#000000}
.postmetadata{
	background:#efefef;
	padding:5px 10px 5px 10px;
	color:#000000;
}
ol.commentlist li{
	background:#efefef;
	color:#000000;
}
ol.commentlist li.comment-author-admin{
	background:#CCCCCC;
	color:#000000;
}
#author{
background:#000;
color:#FFF;
}
#email{
background:#000;
color:#FFF;
}
#url{
background:#000;
color:#FFF;
}
#comment{
background:#000;
color:#FFF;
}
.widget_text a{
color:#39792e;
}
.widget_text a:hover{
color:#ff7e00;
}
.widget{
color:#2a2a2a;
}
.widget ul li a,#wp-calendar a:hover{
color:#39792e;
}
.widget ul li a:hover,#wp-calendar a{
color:#ff7e00;
}
ol.commentlist li a{
color:#999999;
}
ol.commentlist li a:hover{
color:#000000;
}
#submit{
background:#000;
color:#FFF;
}
#footer{
color:#2a2a2a;
}
#topsearch{
	background:url(topsearch.png) right no-repeat;
	width:280px;
	height:30px;
	text-align:right;
	padding:0 0px 0 0;
	margin:0 5px 0 0;
}
#tops{
	padding:7px 35px 0 0;
	width:198px;
	background:none;
	border:0px;
	color:#000000;
	font:italic 9pt Arial, Helvetica, sans-serif;
}